In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/unix/jiahao/wanglab/Data/Analyzed/2024-03-08-Hongyu-Covid_LN/starfinder-test/documents/sample-annotation.csv')
df

   sample_id  fov_start  fov_end condition
0    sample1          1       64     PolyC
1    sample2         65      132     PolyC
2    sample3        133      189     PolyC
3    sample4        190      245     PolyC
4    sample5        246      289        GG
5    sample6        290      331        GG
6    sample7        332      353        GG
7    sample8        354      388        GG
8    sample9        389      415       LNA
9   sample10        416      471       LNA
10  sample11        472      521       LNA
11  sample12        522      550       LNA

In [8]:
current_id = 551
for current_sample in df['sample_id']:
    current_start = df.loc[df['sample_id'] == current_sample, 'fov_start'].values[0]
    current_end = df.loc[df['sample_id'] == current_sample, 'fov_end'].values[0]
    if current_id in range(current_start, current_end+1):
        print(current_sample)
        break   
    else:
        print('Invalid fovID!')

In [12]:
a = pd.DataFrame({'sample_id': ['sample1', 'sample1', 'sample2', 'sample2']})
a

  sample_id
0   sample1
1   sample1
2   sample2
3   sample2

In [15]:
df

   sample_id  fov_start  fov_end condition
0    sample1          1       64     PolyC
1    sample2         65      132     PolyC
2    sample3        133      189     PolyC
3    sample4        190      245     PolyC
4    sample5        246      289        GG
5    sample6        290      331        GG
6    sample7        332      353        GG
7    sample8        354      388        GG
8    sample9        389      415       LNA
9   sample10        416      471       LNA
10  sample11        472      521       LNA
11  sample12        522      550       LNA

In [22]:
df.loc[:, ~df.columns.isin(['fov_start', 'fov_end'])]

   sample_id condition
0    sample1     PolyC
1    sample2     PolyC
2    sample3     PolyC
3    sample4     PolyC
4    sample5        GG
5    sample6        GG
6    sample7        GG
7    sample8        GG
8    sample9       LNA
9   sample10       LNA
10  sample11       LNA
11  sample12       LNA

In [44]:
annot = df.loc[:, ~df.columns.isin(['fov_start', 'fov_end'])]
pd.concat([a, annot], axis=1, ignore_index=False)
# a.join(annot, on='sample_id')

   sample_id sample_id condition
0    sample1   sample1     PolyC
1    sample1   sample2     PolyC
2    sample2   sample3     PolyC
3    sample2   sample4     PolyC
4        NaN   sample5        GG
5        NaN   sample6        GG
6        NaN   sample7        GG
7        NaN   sample8        GG
8        NaN   sample9       LNA
9        NaN  sample10       LNA
10       NaN  sample11       LNA
11       NaN  sample12       LNA

In [46]:
a.merge(df, on='sample_id')

  sample_id  fov_start  fov_end condition
0   sample1          1       64     PolyC
1   sample1          1       64     PolyC
2   sample2         65      132     PolyC
3   sample2         65      132     PolyC

In [51]:
sample_dict = {}
for current_sample in df['sample_id'].unique():
    fov_list = []

    current_start = df.loc[df['sample_id'] == current_sample, 'fov_start'].values[0]
    current_end = df.loc[df['sample_id'] == current_sample, 'fov_end'].values[0]

    for i in range(current_start, current_end+1):
        current_fov = "Position{i:03}".format(i=i)
        fov_list.append(current_fov)
    
    sample_dict[current_sample] = fov_list

In [53]:
sample_dict['sample1']

['Position001',
 'Position002',
 'Position003',
 'Position004',
 'Position005',
 'Position006',
 'Position007',
 'Position008',
 'Position009',
 'Position010',
 'Position011',
 'Position012',
 'Position013',
 'Position014',
 'Position015',
 'Position016',
 'Position017',
 'Position018',
 'Position019',
 'Position020',
 'Position021',
 'Position022',
 'Position023',
 'Position024',
 'Position025',
 'Position026',
 'Position027',
 'Position028',
 'Position029',
 'Position030',
 'Position031',
 'Position032',
 'Position033',
 'Position034',
 'Position035',
 'Position036',
 'Position037',
 'Position038',
 'Position039',
 'Position040',
 'Position041',
 'Position042',
 'Position043',
 'Position044',
 'Position045',
 'Position046',
 'Position047',
 'Position048',
 'Position049',
 'Position050',
 'Position051',
 'Position052',
 'Position053',
 'Position054',
 'Position055',
 'Position056',
 'Position057',
 'Position058',
 'Position059',
 'Position060',
 'Position061',
 'Position062',
 'Position063',
 'Position064']

In [8]:
import scanpy as sc

test = sc.read_h5ad('/home/unix/jiahao/wanglab/Data/Analyzed/2024-03-08-Hongyu-Covid_LN/starfinder-test/expr/sample2_raw.h5ad')
test

AnnData object with n_obs × n_vars = 128832 × 61
    obs: 'sample', 'fov_id', 'volume', 'fov_x', 'fov_y', 'fov_z', 'seg_label', 'global_x', 'global_y', 'global_z', 'sample_id', 'condition', 'unique_index'

In [10]:
test.obs.index

Index(['sample2_Position066_2', 'sample2_Position066_3',
       'sample2_Position066_4', 'sample2_Position066_5',
       'sample2_Position066_7', 'sample2_Position066_13',
       'sample2_Position066_15', 'sample2_Position066_16',
       'sample2_Position066_17', 'sample2_Position066_20',
       ...
       'sample2_Position132_1123', 'sample2_Position132_1124',
       'sample2_Position132_1125', 'sample2_Position132_1126',
       'sample2_Position132_1127', 'sample2_Position132_1128',
       'sample2_Position132_1129', 'sample2_Position132_1131',
       'sample2_Position132_1132', 'sample2_Position132_1133'],
      dtype='object', name='unique_index', length=128832)